body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav {

    height: 80px;
}

.logo img {
    position: relative;
    box-sizing: border-box;
    width: 220px;
    height: 220px;

    top: -55px;
}

.nav-links {
    display: flex;
    margin-left: 250px;
    font-size: 18px;
    font-family: sans-serif;
    position: relative;
    top: -170px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;


}

.nav-links a:hover {
    cursor: pointer;
    border-bottom: 2px solid wheat;

}

.hamburger-menu {
    display: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    top: -140px;
}

.cnter-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    /* line-height: 5px; */
    font-size: 40px;
    font-family: montserratbold;
    word-spacing: -15px;
    height: 170px;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

#btn1 {
    height: 50px;
    width: 225px;
    border-radius: 30px;
    background-color: goldenrod;
    color: aqua;
    font-size: 20px;
    transition: 0.5s;
    border: none;
}

#btn1:hover {
    cursor: pointer;
    background-color: wheat;
    color: goldenrod;
}

#btn2 {
    height: 50px;
    width: 225px;
    border-radius: 30px;
    font-size: 20px;
    color: aqua;
    transition: 0.5s;
    border: none;
    background-color: rgb(23, 22, 22);
}

#btn2:hover {
    cursor: pointer;
    background-color: white;
    color: goldenrod;
}


@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        margin: 10px 0;
    }

    .hamburger-menu {
        display: block;

    }
}

.contents h2 {
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents p {
    font-size: 18px;
    font-family: sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 762px) {

    .main-heading {

        justify-content: center;
        font-size: 18px;
        font-weight: bolder;
        word-spacing: -8px;
        height: auto;
        /* font-family: montserratbold; */

    }
}